/* sm */
@media (min-width:576px) {
    .container{
        min-width: 540px;
    }
    .w-sm-1{
        width: 100%;
    }
}

/* md */
@media (min-width:768px) {
    .container{
        min-width: 720px;
    }
    .w-md-2{
        width:50%;
    }
}

/* lg */
@media (min-width:992px) {
    .container{
        min-width: 960px;
    }
    .nav ul{
        position: static;
    }
}

/* xl */
@media (min-width:1200px) {
    .container{
        min-width: 1140px;
    }
}
