
:root {
    --light-color: white;
    --dark-color: black;
    --theme-color: #FDA403;
    --text-color: #b8b8b8;
    --title-fonts: 'Playfair Display';
    --content-fonts: 'Raleway';
    --bg-color: #F8F9FA;
    --hover-color: #CB8402;
    --footer-color:#222;
    --footer-them:#7f7f7f;
}

body {
    font-family: var(--title-fonts);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    max-width: 100%;
    display: block;
}

li {
    list-style: none;
}

.d-flex {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.justify-content-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.w-1 {
    width: 100%;
}

.w-2 {
    width: 50%;
}

.w-3 {
    width: 33.33%;
}

.w-4 {
    width: 25%;
}

.w-5 {
    width: 20%;
}

.py {
    padding: 112px 0;
}
.toggle a{
    color: white;
    padding: 5px 10px;
    display: none;
    border: 1px solid white;
    padding: 0px 5px;
    border-radius: 5px;
    font-size:50px;
}

/* header  */
header {
    background-color: rgb(187, 65, 65);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    font-family: var(--content-fonts);
}

.logo a {
    letter-spacing: 1px;
    color:white;
    font-size: 20px;
}

nav ul li a {
    padding: 25px 0;
    color: white;
    margin: 0 30px;
    font-size: 12px;
    letter-spacing: 2px;
    transition: all 0.2s linear;
}

header.active{
    position: fixed;
    top: 0;
    background-color: navy;
    animation: move 1s linear;
}

@keyframes move{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
.top{
    position: fixed;
}

.top{
    background-color: black;
    color: white;
    padding: 30px;
    border-radius: 50%;
    position:fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
    cursor: pointer;
}

